{
    "logs": { "perMutator": "php://stderr" },
    "minCoveredMsi": 75,
    "minMsi": 10,
    "mutators": { "@default": true },
    "source": { "directories": [ "src/Command" ] },
    "testFramework": "phpunit"
}