<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        beStrictAboutResourceUsageDuringSmallTests="true"
        beStrictAboutChangesToGlobalState="true"
        beStrictAboutOutputDuringTests="true"
        bootstrap="./vendor/autoload.php"
        verbose="true"
        colors="true"
>
    <php>
        <env name="contentful_space_id" value="test-space-id" />
        <env name="contentful_token" value="test-token123444" />
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>